/*  ==========================================================================
     dead simple grid based on % cols  | @fredcerdeira 2014
    ==========================================================================  */

* {
  -moz-box-sizing:border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -moz-box-sizing:border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

.wrapper {
  background: #fff;
  max-width: 1680px;
  min-width: 320px;
  margin: auto;
}

.mq-label {
  height: 75px;
  margin-bottom: 50px;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 70px;
  font-size: 2.5em;
  background: #000;
  text-shadow: 0px 1px 1px #000;
}
.mq-label:after {
  content: 'max-width: 1680px';
}

.grid {
  width: 100%;
  overflow: hidden;
}

.col {
  float: left;
  background: gold;
  height: 100px;
  margin-bottom: 20px; 
  border-left: 10px solid white;
  border-right: 10px solid white;
  text-align: center;
  padding-top: 45px;
  font-size: 1.5em;
}

.grid .no-border {
  border: 0;
  padding-left: 10px;
}

.col-wide {
  width: 100%;
}
.col-wide:after {
  content: '100%';
}

.col-half {
  width: 50%;
}
.col-half:after {
  content: '50%';
}

.col-third {
  width: 33.33%;
}
.col-third:after {
  content: '33.33%';
}

.col-two-third {
  width: 66.66%;
}
.col-two-third:after {
  content: '66.66%';
}

.col-quarter {
  width: 25%;
}
.col-quarter:after {
  content: '25%';
}

.col-sixth {
  width: 16.66%;
}
.col-sixth:after {
  content: '16.66%';
}




@media only screen and (max-width: 1440px) {
  .mq-label:after {
    content: 'max-width: 1440px';
  }

  .mq-label {
    max-width: 100%;
    background: red;
  }
}

@media only screen and (max-width: 1280px) {

  .mq-label:after {
    content: 'max-width: 1280px';
  }

  .mq-label {
    background: blueviolet;
  }
}

@media only screen and (max-width: 1024px) {
  .mq-label:after {
    content: 'max-width: 1024px';
  }

  .mq-label {
    background: lime;
  }
}

@media only screen and (max-width: 767px) {
  .mq-label:after {
    content: 'max-width: 767px';
  }

  .mq-label {
    background: blue;
  }
}

@media only screen and (max-width: 640px) {
  .mq-label {
    font-size: 1.8em;
  }

  .mq-label:after {
    content: 'max-width: 640px';
  }

  .mq-label {
    background: aqua;
  }

  .col-quarter {
    width: 50%;
  }
  .col-quarter:after {
    content: '50%';
  }

  .col-sixth,
  .col-third,
  .col-two-third {
    width: 100%;
  }
  .col-sixth:after,
  .col-third:after,
  .col-two-third:after {
    content: '100%';
  }


}













